* {
    transition: all .3s ;
}

@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helveticaneue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype'), url('../fonts/helveticaneue.eot') format('truetype'), font-weight: normal;
    font-style: normal;
}

/*-----------------------------------------------------*/
