 清除内外边距 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elemenus 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements 列表元素 */

pre,

/* text formatting elements 文本格式元素 */

fieldset,
lengend,
button,
input,
textarea,

/* form elements 表单元素 */

th,
td {
    /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}


/* 设置默认字体 */

body,
button,
input,
select,
textarea {
    /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, '\5b8b\4f53', sans-serif;
    /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 {
    font-size: 18px;
    /* 18px / 12px = 1.5 */
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}


/* 将斜体扶正 */

code,
kbd,
pre,
samp,
tt {
    font-family: 'Courier New', Courier, monospace;
}


/* 统一等宽字体 */

small {
    font-size: 12px;
}


/* 小于 12px 的中文很难阅读，让 small 正常化 */


/* 重置列表元素 */

ul,
ol {
    list-style: none;
}


/* 重置文本格式元素 */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

abbr[title],
acronym[title] {
    cursor: help;
    /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
}

q:before,
q:after {
    content: '';
}


/* 重置表单元素 */

legend {
    color: #000;
}


/* for ie6 */

fieldset,
img {
    border: none;
}


/* img 搭车：让链接里的 img 无边框 */


/* 注：optgroup 无法扶正 */

button,
input,
select,
textarea {
    font-size: 100%;
    /* 使得表单元素在 ie 下能继承字体大小 */
}


/* 重置表格元素 */

table {
    border-spacing: 0;
    border-collapse: collapse;
}


/* 重置 hr */

hr {
    height: 1px;
    border: none;
}


/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */

html {
    overflow-y: scroll;
}

/* ---------------------------------------------case 开始-----------------------------------------------------*/
* {
    transition: all 1s ;
    animation: all 1s ;
}
body {
    position: relative;
}


.ca_pagehead {
	font-family:  helvetica;
	font-size: 50px;
	color: #FFFFFF;
	letter-spacing: -1.12px;
    margin:262px auto 0;
    width:1117px;
    line-height:60px;
} 

.caseList {
    width: 100%;
    background-color: rgba(0,12,26,1);
    background: #000b19;
}

/* inline-block左右间距问题*/

.caseList ul.cases {
    font-size: 0;
    margin: 0 auto;
    width:90%;
    margin-top:80px;
    padding-left: 0;
}


/* 3像素问题*/

.caseList ul.cases li {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    position: relative;
    width:33.33%;

}
.caseList ul.cases li img {
	width:100%;
}
.caseList ul.cases li:hover .case_mask   {
   background-color: rgba(0,0,0,0.5);
   cursor: pointer;
}
.caseList .cases li .case_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: helvetica Arial ;
    font-size: 36px;
    color: #000;
    letter-spacing: 0;
    background-color: rgba(0,0,0,0);
    /*filter:alpha(opacity=0);*/
    display: block;
    color:#fff;
}

.ca_txt {
    line-height:29px;
    margin-top:164px;
    font-size: 24px;
    font-family: helvetica;
    color: #FFFFFF;
    letter-spacing: 0;
    
}
h2 {
    font-size:28px !important;
}
/*底部出现的loading*/
.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0} 
.ca_txt  p:nth-child(2) {
    margin-top:10px;
}
.ca_viewmore {
    margin:57px auto;
    border:1px solid #fff;
    line-height: 1;
    width:165px;
    height:39px;
    padding:9px ;
    font-size: 20px;
    font-family:helvetica;

}
/*手机端 768以下 就当作手机端*/
@media screen and (max-width: 768px) {
    .ca_pagehead {
        font-size: 28px;
        
        margin:213px auto 0;
        width:90%;
        max-width:95%;
        height:99px;
        line-height:34px;


        font-size: 38px;
        color: #FFFFFF;
        letter-spacing: -0.63px;
    } 

    .caseList {
        width: 100%;
    }

    /* inline-block左右间距问题*/

    .caseList ul.cases {
        font-size: 0;
        margin: 0 auto;
        width:90%;
        margin-top:80px;
    }

    
    /* 3像素问题*/

    .caseList ul.cases li {
        width:100%;
        margin-bottom:10px;
    }
    .caseList ul.cases li img {
        width:100%;
    }
    .caseList .cases li .case_mask {
        background-color: rgba(0,0,0,0);
        color:#fff;
    }

    .caseList ul.cases li:hover .case_mask   {
       background-color: rgba(0,0,0,0);
       color:#fff;
    }

    .ca_txt {
        line-height:17px;
        margin-top:180px;
        font-size: 15px;
    }
    .ca_txt  p:nth-child(2) {
        margin-top:20px;
    }
    .ca_viewmore {
        margin:40px auto 0;
        border:1px solid #fff;
        height: 26px;
        line-height: 26px;
        width:100px;
        padding:0px 5px;
        font-size: 16px;

    }
}
@media screen and (max-width: 414px) {
    .ca_pagehead { 
        font-size: 28px; 
    } 
    .ca_txt {
        margin-top:102px;
    }
    h2 {
        font-size:20px !important;
    }
} 

/* ---------------------------------------------case 结束-----------------------------------------------------*/

/* ---.------------------------------------------caseDetail 开始-----------------------------------------------------*/

.ca-slide-img {
    width: 100%;
    height:100%;
    display: block;
}

.ca-slider {
    background: #fff;
    color: #000;
}


/* div.ca-slide-text {
     background-color: #fff;
     color:#000;
 }*/

/*.myCarousel {
    position: fixed;
    overflow: hidden;
    width:0px;
    height:0px;
    top:50%;
    left:50%;
    background-color:#fff;
}*/
#modelflag {
    position: fixed;
    left:-1000000px;
    width:0px;
    height:0px;
}

#myModal.modal{
    background: rgba(0,12,26,1);
    padding-right:0px;
}
.myCarousel {
    color:#000;
}
/*弹出框 垂直水平都居中*/
.modal .modal-dialog.modal-lg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;

    margin:0;
}


.ca-arrow {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ca-carousel-indicators {
    opacity: 0;
    filter: alpha(opacity=0);
}
.ca-modal-dialog:hover  .ca-arrow  {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ca-modal-dialog:hover  .ca-carousel-indicators{
    opacity: 1;
    filter: alpha(opacity=100);
}
.ca-arrow.left {
    background: url(../images/caseDetail/arrow_left_1280.png) no-repeat center center;
    margin-left:40px;
}

.ca-arrow.right {
    background: url(../images/caseDetail/arrow_right_1280.png)  no-repeat center center;
    margin-right:40px;
}
.ca-phone-arrow {
    width: 40px;
    height: 40px;
    background: url(../images/caseDetail/arrow_phone.png) no-repeat center center #524f4f;
    display: none;
    position: absolute;
    top: 30px;
    left:20px;
    border-radius: 50%;
    color: #fff;
    opacity: .5;
}


.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
.modal-body {
    position: relative;
    padding: 0px; 
}
.modal-body .ca-model-item-text {
    width:319px;
    height:345px;
    overflow:hidden;
}
.ca-modal-close {
    background: url(../images/caseDetail/close.png) transparent no-repeat center center;
    width:30px;
    height:30px;
    border-radius: 50%;

    position: absolute;
    top: -50px;
    right: 20px;
}

#myCarousel .carousel-inner .item .ca-model-item-text .h2 {
    margin-bottom:80px;
}
.ca-model-item-img,.ca-model-item-text {
    display: inline-block;
}
.ca-model-item-img {
    overflow:hidden;
}

#myModal .item .row {
    margin-left:0;
    margin-right:0;
    /* inline-block 间距问题*/
    font-size:0;
}
.ca-modal-content {
    border-radius:0;
    border:0px;
}


@media screen and (max-width: 1920px) {
    .ca-modal-item-1, .ca-modal-item-2,.ca-modal-item-3,.ca-modal-item-4,.ca-modal-item-5,.ca-modal-item-6{
        width:748px;
    }
    .ca-modal-dialog {
        width: 80%;
    }
    .ca-model-item-img {
        width:55%;
    }
    .modal-body .ca-model-item-text {
        width:45%;
        padding:20px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .modal-body .ca-model-item-text p {
        line-height: 18px;
    }
}

@media screen and (max-width: 1280px) {
    .ca-modal-item-1, .ca-modal-item-2,.ca-modal-item-3,.ca-modal-item-4,.ca-modal-item-5,.ca-modal-item-6{
        width:449px;
    }
    .ca-modal-dialog {
        width:100%;
    }
    .ca-model-item-img {
        width:55%;
    }

} 

@media screen and (max-width: 768px) {
    .ca-arrow {
        width: 60px;
        height: 60px;
        margin-top: 100px;
    }
    .ca-arrow.right,
    .ca-arrow.left {
        display: none
    }
    .ca-phone-arrow {
        display: block;
    }
    .ca-modal-item-1,
    .ca-modal-item-2,
    .ca-modal-item-3,
    .ca-modal-item-4,
    .ca-modal-item-5,
    .ca-modal-item-6 {
        width: 100%;
    }
    .ca-modal-dialog {
        width: 768px;
    }
    #myModal.modal {
        background-color: #fff;
    }
    .modal .modal-dialog.modal-lg {
        position: absolute;
        left: 0;
        transform: translateX(0) translateY(0);
        top: 0;
        margin: 0;
    }
    .modal-body .ca-model-item-text {
        width: 100%;
        padding-left:20px;
        padding-right:20px;
        position: static;
        top: 0;
        transform: translateY(0);
    }

    #myCarousel .carousel-inner .item .ca-model-item-text .h2 {
        margin-bottom: 60px;
    }

    .ca-carousel-indicators {
        opacity: 1;
        filter: alpha(opacity=100);
        position: fixed;
        bottom: 20px;
    }

    .carousel-indicators li {
        border:1px solid #0288E6; 
        border-radius: 10px;
        background-color: #fff;
        width:11px;
        height:11px;
        line-height: 11px;
    }
    .carousel-indicators .active {
        width:12px;
        height:12px;
        background-color: #0288E6;

    }
    .modal-body .ca-model-item-text {
        overflow-y:auto;
    }

}

@media screen and (max-width: 414px) {
    #myCarousel .carousel-inner .item .ca-model-item-text .h2 {
        margin-bottom: 20px;
    }
    p {
        margin-top:10px;
    }
    .modal-body .ca-model-item-text {
        padding-left:15px;
        padding-right:15px;
    }

    .ca-carousel-indicators {
        bottom: 50px;
    }
}


/************************caseDetail 结束 *********************/

/************************IPTV 开始 *********************/

/*default是在1280和1920之间的*/
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,div,p {
    color:#000;
}
ul,ol {
    list-style: none;
    padding:0;
}
li {
    list-style-position: inside;
}

.iptv-banner {
    background: url("../images/iptv/images/headbg.png") no-repeat center center rgba(0,12,26,1);
    text-align:center;
    height: 667px;
    width:100%;
}
.iptv-banner-txt {
    line-height: 667px;
    font-size:80px;
    color: #FFFFFF;
    letter-spacing: -2.38px;
    margin-top:0;
}
.iptv-greeting-img {
    
    width:574px;
}
.iptv-greeting-txt {
    color:#000;
}
.iptv-greeting-ul {
    margin-top:81px;
    padding-left:0;
}
.iptv-greeting-ul li{
   list-style-type: disc;
   list-style-position:inside;
   color: #0186E1;
   font-size:20px;
   margin-top:20px;
}
.iptv-greeting-ul li span {
    color:#000;
    font-size:16px;
    line-height:18px;
}
.iptv-row1 {
    margin-top:105px;
}
.iptv-row2 {
    margin-top:165px;
}
.iptv-row4 {
    margin-top:180px;
}
.iptv-row5 {
    margin-top:108px;
}
.iptv-menu-ul {
    margin-top:51px;
}
.iptv-menu-items {
    margin-top:50px;
}
.iptv-menu-items>li {
    opacity: 0.6;
    font-size: 16px;
    margin-bottom: 25px;
}
.iptv-menu-items>li>.iptv-menu-item-content li  {
    margin-bottom: 25px;
}
.iptv-menu-video {
    margin-top:150px;
}
.iptv-menu-ul li {
    font-size:16px;
    line-height: 18px;
    margin-top:10px;
}
.iptv-menu-item {
    position: relative;
}
.iptv-menu-item-content {
    float: right;
    width:80%;
    padding-left: 20px;
}
.iptv-hardware-section-title {
    margin-top:81px;
}
.iptv-menu-item-title {
    width:20%;
    text-align: right;
}
.iptv-menu-item-title:after {
    content:':';
}
.iptv-hardware-title {
    font-size: 24px;
    line-hegiht:29px;
    color: #000000;
    letter-spacing: 0;
    padding-left:15px;
}
/*硬件产品列表标题 左边蓝点*/
.iptv-hardware-title::before {
    content:'';
    width:10px;
    height:10px;
    background-color:#0186E1;
    border-radius: 50%;
    display: inline-block;

    position: absolute;
    top: 8px;
    left: 15px;
}
.iptv-hardware-items {
    margin-top: 30px;
}

.iptv-hardware-items> li {
    margin-bottom: 19px;
}
.iptv-row4 .row {
    margin-top: 151px;
}
.iptv-hardware-items4-txt {
    margin-top:24px;
    font-size:16px;
    line-height: 30px;

}
.iptv-hardware-item-content {
    font-size: 16px;
    opacity: 0.6;
    padding-left: 20px;
}


.iptv-hardware-item-content {
    float: right;
    width:70%;
}
.iptv-hardware-item-title {
    width:30%;
    text-align: right;
}
.iptv-hardware-item-title:after {
    content: ':';
}
.iptv-hardware-items1-img {
    background:url(../images/iptv/images/A3000C.png) no-repeat center center;
    height:522px;
}
.iptv-hardware-items2-img {
    background:url(../images/iptv/images/A3000H.png) no-repeat center center;
    height:522px;
}
.iptv-hardware-items3-img {
    background:url(../images/iptv/images/A3000Y.png) no-repeat center center;
    height:522px;
}
.iptv-hardware-items4-img {
    background:url(../images/iptv/images/AIO.png) no-repeat center center;
    height:380px;
}
.iptv-case-txt{
    margin-top:40px;
}

.iptv-case-txt h2 {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    display: inline-block;
}
.iptv-case-txt p {
    margin-top:20px;
    opacity: 0.8;
    font-size: 16px;
}
.iptv-cases1 {
    margin-top:81px;

}
.iptv-case2 {
    height:610px;
}
.iptv-case3{
    height:500px;
}
.iptv-case2 , .iptv-case3{
   margin-top:70px;
}
.iptv-case-content {
    height:100%;
}
.iptv-case1-img {
    width: 100%;
}
.iptv-case2-text,.iptv-case3-text {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
}
.iptv-case2-img {
    height:610px;
    background:url(../images/iptv/images/case02.png) no-repeat center center;
}
.iptv-case3-img {
    height:610px;
    background:url(../images/iptv/images/case03.png) no-repeat center center;
}
.iptv-case4-txt {
    position: absolute;
    font-size: 45px;
    position: absolute;
    top:50%;
    left:80px;
    background-color: #fff;
    transform:translateY(-50%);

}
.iptv-case4-content {
    border:1px solid #000;
}
.iptv-case4-content:after {
    content:'View';
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.iptv-case4-img1 {
    height:348px;
    background:url(../images/iptv/images/connect_CLEAR_IMS.png) no-repeat right center;
}
.iptv-case4-img2 {
    height:348px;
    background:url(../images/iptv/images/connect_CLEARMobile.png) no-repeat right center;
}

/************************IPTV 结束 *********************/